/* ------------------------ Header */

.navbar {
    height: 80px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1)
}

.navbar.expanded {
    height: auto;
}

.logo {
    height: 60px;
    width: auto;
}

.navbar-nav .nav-link {
    color:  #2F98E8;
}

.navbar-nav .focus {
    color:  #2F98E8;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color:  #2F98E8;
}

.navbar-nav .nav-link:active {
    transform: scale(1);
    color:  #2F98E8;
}

.navbar-toggler {
    border: none !important;
}

/* ------------------------ Content */

.paper-plane {
    height: 100vh;
    width: auto;
    position: fixed;
    z-index: -100;
    text-align: center;
    top: 50%;
    left: 0%;
}

.welcome {
    color: #fdce61;
    font-weight: 50px;
    padding: 100px 20px 20px 20px;
    background-color: white;
}

.title {
    max-height: 250px;
    width: auto;
    margin: 20px;
}

.message-cont {
    background-color: #2F98E8;
    color: white;
    height: auto;
    width: 100%;
    padding: 20px 50px;
}

.welcome-message {
    max-width: 500px;
    font-weight: 600;
    font-size: 20px;
}

.sub-title {
    color: #2F98E8;
    font-weight: 50px;
    padding: 20px;
}

.card {
    max-width: 400px;
    height: auto;
    padding: 0;
    margin: 20px;
}

.center-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-body {
    padding: 20px !important;
}

.card {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    border: none !important;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card:active {
    transform: scale(1);
}

.blog-title {
    color: #2F98E8;
}

.blog-text {
    color:rgb(65, 65, 65);
    opacity: 80%;
}

.profiles {
    height: 75px;
    width: auto;
    padding-bottom: 10px;
}

.name-text {
    margin-bottom: 0;
    align-content: center;
    color:rgb(65, 65, 65);
    padding-top: 10px;
    opacity: 90%;
}

.date-text {
    color: #fdce61;
    opacity: 90%;
}

.text-display {
    display: inline-block;
}

/* ------------------------ Footer */

.logo-2 {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #2F98E8;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    padding: 0;
}

.fa-brands,
.fa-solid {
    font-size: 20px;
    color: white;
    transition: transform 0.3s;
}

.fa-brands:hover,
.fa-solid:hover {
    transform: scale(1.1);
}

.fa-brands:active,
.fa-solid:active {
    transform: scale(1);
}

/* ------------------------ Media Queries */

@media (max-width: 962px) {
    .paper-plane {
        left: -20%;
    }
}

@media (max-width: 683px) {
    .paper-plane {
        left: -35%;
    }
}

@media (max-width: 587px) {
    .paper-plane {
        top: 40%;
        left: -43%;
    }
    .hidden {
        display: none;
    }
    .title {
        width: 75%;
        height: auto;
    }
}