/* ------------------------ Header */

.navbar {
    height: 80px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1)
}

.navbar.expanded {
    height: auto;
}

.logo {
    height: 60px;
    width: auto;
}

.navbar-nav .nav-link {
    color:  #2F98E8;
}

.navbar-nav .focus {
    color:  #2F98E8;
    text-decoration: underline;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color:  #2F98E8;
}

.navbar-nav .nav-link:active {
    transform: scale(1);
    color:  #2F98E8;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* ------------------------ Index */

.paper-plane {
    height: 100vh;
    width: auto;
    position: fixed;
    z-index: -100;
    text-align: center;
    top: 50%;
    left: 0%;
}

.welcome {
    color: #fdce61;
    padding: 100px 20px 20px 20px;
    background-color: white;
    margin-bottom: 0;
}

.title {
    max-height: 250px;
    width: auto;
    margin: 20px;
}

.message-cont {
    background-color: #2F98E8;
    color: white;
    height: auto;
    width: 100%;
    padding: 20px 50px;
}

.welcome-message {
    max-width: 500px;
    font-weight: 600;
    font-size: 20px;
}

.sub-title {
    color: #2F98E8;
    padding: 20px;
}

/* ---------------------- Blog Cards */

.card {
    max-width: 400px;
    height: auto;
    padding: 0;
    margin: 20px 10px;
}

.center-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-body {
    padding: 20px !important;
}

.card {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
    border: none !important;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.04);
}

.blog-title {
    color: #2F98E8;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

.blog-title:hover {
    text-decoration: underline;
}

.blog-text {
    color:rgb(65, 65, 65);
    opacity: 80%;
}

.profiles {
    height: 75px;
    width: auto;
    padding-bottom: 10px;
}

.name-text {
    margin-bottom: 0;
    align-content: center;
    color:rgb(65, 65, 65);
    padding-top: 10px;
    opacity: 90%;
}

.date-text {
    color: #fdce61;
    opacity: 90%;
}

.text-display {
    display: inline-block;
}

.btn-ryalto {
    border-radius: 5%;
    background-color: #2F98E8;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;   
}

.btn-ryalto:hover {
    background-color: white;
    color:#2F98E8;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #2F98E8;
}

.btn-ryalto:active {
    background-color: #2F98E8;
    color: white;
}

/* ------------------------ Footer */

.logo-2 {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #2F98E8;
    padding: 20px;
}

.footer-margin {
    margin-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    padding: 0;
}

.footer-socials {
    font-size: 30px;
    color: white;
    transition: transform 0.3s;
}

.footer-socials:hover {
    transform: scale(1.1);
}

.footer-socials:active {
    transform: scale(1);
}

.social-links {
    float:right;
}

/* ------------------------ Careers page */

.bars-logo {
    max-height: 500px;
    width: auto;
    float: right;
}

.btn-careers {
    border-radius: 5%;
    background-color: #2F98E8;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s;   
}

.btn-careers:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #1374be;
}

.careers-socials {
    font-size: 20px;
    color: white;
}

/* ------------------------ Team page */

.team-card {
    max-width: 500px;
    height: auto;
    margin: 20px;
}

.lg-profiles {
    height: 100px;
    width: auto;
}

.team-links {
    font-size: 30px;
    color: #2F98E8;
    transition: transform 0.3s;
}

.team-links:hover {
    transform: scale(1.1);
}

.team-links:active {
    transform: scale(1);
}

.team-icons {
    margin: 10px;
    padding: 0;
}

.name-text {
    margin-bottom: 0;
    align-content: center;
    color:rgb(65, 65, 65);
    padding-top: 0;
    opacity: 90%;
}

.position-text {
    color:rgb(65, 65, 65);
    opacity: 90%;
}

/* ------------------------ Blog article page */

.paper-plane2 {
    height: 100vh;
    width: auto;
    position: fixed;
    z-index: -100;
    text-align: center;
    top: 50%;
    right: 0%;
}

.blog-page-title {
    margin-top: 120px;
    margin-bottom: 40px;
    color:#fdce61;
}

.blog-page-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    color:#2F98E8;
}

.blog-page-h3 {
    color:#fdce61;
}

.blog-paragraph {
    color:rgb(65, 65, 65);
    opacity: 90%;
    max-width: 900px;
}

.blog-paragraph a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color:rgb(65, 65, 65);
    opacity: 90%;
}
.blog-paragraph a:hover {
    text-decoration: underline;
}

/* ------------------------ 404 page */

.nav-title {
    margin-top: 100px;
}

.error-cont {
    margin-bottom: 60px;
    max-width: 500px;
    margin: auto;
    height: 40vh;
    padding: 20px;
}

.error-message {
    color: #2F98E8;
    font-weight: 600;
}

.btn-404 {
    border-radius: 6%;
    background-color: #fdce61;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    
}

.btn-404:hover {
    background-color: white;
    color:#fdce61;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #fdce61;
}

.btn-ryalto:active {
    background-color: #2F98E8;
    color: white;
}

/* ------------------------ Media Queries */

@media (max-width: 1142px) {
    .paper-plane2 {
        right: -5%;
    }
}

@media (max-width: 962px) {
    .paper-plane {
        left: -10%;
    }
    .hidden {
        display: none;
    }
    .paper-plane2 {
        right: -10%;
    }
}

@media (max-width: 768px) {
    .social-links {
        float:none;
        margin-top: 5px;
    }
    .footer-links {
        margin: 0;
    }
    .list-inline-item {
        padding-bottom: 10px;
    }
    .paper-plane {
        left: -20%;
    }
    .paper-plane2 {
        right: -12%;
    }
}

@media (max-width: 683px) {
    .paper-plane {
        left: -35%;
    }
    .hidden2 {
        display: none;
    }
}

@media (max-width: 587px) {
    .paper-plane {
        top: 40%;
        left: -43%;
    }
    .hidden {
        display: none;
    }
    .title {
        width: 75%;
        height: auto;
    }
    .team-card {
        max-width: 400px;
    }
    .bars-logo {
        max-height: 200px;
    }
    .welcome-message {
        max-width: 500px;
        font-weight: 500;
        font-size: 15px;
    }
    .message-cont {
        padding: 20px;
    }
}